.header{
    text-align: center;
    color: blueviolet;
    font-size: 250%;
    font-family: Arial;
}

.spanimg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.image1{
    display: block;
    margin: 0 auto;
    height: 300px;
    width: auto;
}

body{
    background-image: url("img/background.png");
}

div{
    display: block;
    background-color: grey;
}